{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Update match data {% endblock %}</h1>
<form method="post">
  <div class="form-group">
    <label for="competition"> select a competition:</label>
      <select name="competition" id="competition">
        <option value="PL">English Premier League</option>
        <option value="ECL">English Championship League</option>
      </select>
  </div>
  <div class="form-group">
    <label for="season"> select a season:</label>
      <select name="season" id="season">
        <option value="2020"> 2020</option>
        <option value="2021"> 2021</option>
        <option value="2022"> 2022</option>
        <option value="2023"> 2023</option>
      </select>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
