{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Reset your password {% endblock %}</h1>

<form method="post">
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username"
             placeholder="Enter your username" class="form-control"
             value="{{ request.form['username'] }}"></input>
  </div>

    <div class="form-group">
        <label for="old_password">Enter your old password</label>
        <input type="password" name="old_password"
               placeholder="Enter your old password" class="form-control"
               value="{{ request.form['old_password'] }}"></input>
    </div>

    <div class="form-group">
        <label for="new_password">Enter new password</label>
        <input type="password" name="new_password"
               placeholder="Enter your new password" class="form-control"
               value="{{ request.form['new_password'] }}"></input>
    </div>
	
    <div class="form-group">
        <label for="new_password_check">Re-enter your new password</label>
        <input type="password" name="new_password_check"
               placeholder="Re-enter your new password" class="form-control"
               value="{{ request.form['new_password_check'] }}"></input>
    </div>
	
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
